<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EndpointUrl" value="https://tsdocumentdb.documents.azure.com:443/" />
    <add key="AuthorizationKey" value="Z3CvtNI+MafhWuTFOex/dNXQ/+5tCLP07kYwp91FMOYivG5WLwcb/FmkjrnlP063azHFAMOnDF1jiPZuJCbppg==" />
    <add key="DatabaseId" value="TsDocumentStore" />
    <add key="SuggestionCollectionId" value="SuggestionCollection" />
    <add key="TemplateCollectionId" value="TemplateCollection"/>
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>