<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DocumentDbEndpointUrl" value="https://tsdocumentdb.documents.azure.com:443/" />
    <add key="AuthorizationKey" value="imr10i4PI4pl0UANLBSGcalf0VTLbdaxX39PW8V3ALYfCDqWUgZrLEX1hhJSz5yJQVMCpMjNmOpDA3fEviJZLQ==" />
    <add key="DatabaseId" value="TsDocumentStore" />
    <add key="SuggestionCollectionId" value="SuggestionCollection" />
    <add key="TemplateCollectionId" value="TemplateCollection" />

    <add key="ElasticClusterUri" value="https://d073190620c26902b46e7a345810762d.us-east-1.aws.found.io:9243" />
    <add key="ElasticAdminUserName" value="tsReadwrite" />
    <add key="ElasticAdminPassword" value="cltpm22nnspc370vgj" />


    <add key="TemplateIndexName" value="ts-search-index" />
    <add key="SuggestIndexName" value="ts-suggestion-index" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Elasticsearch.Net" publicKeyToken="96c599bbe3e70f5d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
